<div>
      <h1>{{scalesService.languagedata.apptitle}}</h1>
    <div class="w3-btn-bar">
    <button  id="language_modal_btn" onclick="document.getElementById('language_modal').style.display='block'" class="w3-btn">{{scalesService.languagedata.language}}</button>
    
    <button onclick="document.getElementById('info_modal').style.display='block'" class="w3-btn">{{scalesService.languagedata.info}}</button>
    <button class="w3-btn w3-teal" (click)="addPressed()" >
      {{scalesService.languagedata.newcard}} <span class="glyphicon glyphicon-plus"></span>
    </button>
    </div>





  <div id="language_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-8">
      <header class="w3-container w3-teal"> 
        <h3>{{scalesService.languagedata.selectlanguage}}</h3>
      </header>
      <div class="w3-container">

<div *ngFor="let l of scalesService.languages" class="margined w3-center"  (click)="languagePressed(l)">
    <div>
    <img [src]="l.flag_url" [alt]="l.id" width="112" height="70">
    </div>
    <div class="w3-center">
      <label>{{l.localized_name}}</label>
      </div>
  </div>




      </div>
      <footer class="w3-container w3-teal">
        <p> </p>
      </footer>
    </div>
  </div>

  <div id="info_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-8">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('info_modal').style.display='none'" 
        class="w3-closebtn">&times;</span>
        <h3>{{scalesService.languagedata.howdoesthiswork}}</h3>
      </header>
      <div class="w3-container">
        <p>{{scalesService.languagedata.appexplanation}}</p>

      </div>
      <footer class="w3-container w3-teal">
        <p> </p>
      </footer>
    </div>
  </div>

</div>