<div>
      <h1>Scales</h1>
    <div class="w3-btn-bar">
    <button onclick="document.getElementById('language_modal').style.display='block'" class="w3-btn">Language</button>
    
    <button onclick="document.getElementById('info_modal').style.display='block'" class="w3-btn">Info</button>
    <button class="w3-btn w3-teal" (click)="addPressed()" >
      New Card <span class="glyphicon glyphicon-plus"></span>
    </button>
    </div>

  





  



  




  <div id="language_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-8">
      <header class="w3-container w3-teal"> 
        <h3>Modal Header</h3>
      </header>
      <div class="w3-container">

<div *ngFor="let l of scalesService.languages" class="margined" >
    <div class="w3-container w3-center" (click)="languagePressed(l)">
    <img [src]="l.flag_url" [alt]="l.id" width="112" height="70">
      <label>{{l.id}}</label>
    </div>
  </div>




      </div>
      <footer class="w3-container w3-teal">
        <p> </p>
      </footer>
    </div>
  </div>

  <div id="info_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-8">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('info_modal').style.display='none'" 
        class="w3-closebtn">&times;</span>
        <h3>How does this work?</h3>
      </header>
      <div class="w3-container">
        <p>Every card has a material selector, a formula selector, and a number input field. 
          The result of the formula is shown immediately on the right side.
        </p>

        <p>You can add additional cards or remove them via the plus and remove buttons.</p>

      </div>
      <footer class="w3-container w3-teal">
        <p> </p>
      </footer>
    </div>
  </div>

</div>