<div class="w3-panel w3-card-4" *ngIf="card">
  <header class="w3-container margined"> 
  <select class="w3-select" name="option"  [ngModel]="card.material_idx" (change)="materialSelected($event)">
    <option *ngFor="let m of scalesService.materialvalues; let k = index" [value]="k">{{scalesService.languagedata[m.short_name]}}</option>
  </select>
</header>


<div class="w3-row-padding margined">
  <div class="w3-third">
    <input class="w3-input w3-border" type="text" type="number" [(ngModel)]="card.input" (change)="valueChanged()" (keyup)="valueChanged()"  min="0" step="0.1" max="1000">
  </div>
  <div class="w3-third">
   
   <select class="w3-select w3-border"  (change)="formulaSelected($event)" [ngModel]="card.formula_idx">
    <option *ngFor="let f of scalesService.formulas; let k = index" [value]="k">{{scalesService.languagedata[f.short_name]}}</option>
  </select>

  </div>
  <div class="w3-third w3-blue">

    <h4 >{{card.output  | number : '1.0-4'}}</h4>

  </div>
</div>
<div class="w3-right-align">
<button class="w3-btn-floating margined" *ngIf="visibleRemove" (click)="deletePressed()">
  
  <span class="glyphicon glyphicon-remove"></span>

</button>
</div>

</div>